<link href="~/login/login.css" rel="stylesheet" />
<link href="~/login/verifys.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css">


<div id="forgotpasswordenteremailPage" style="margin-top:15%;margin-bottom:2%;">
    <div class="title-text">
        <div class="title verification">
            Enter Email
        </div>
    </div>
    <div class="form-container">
        <div class="form-inner">
            <form id="verificationForm" action="#" method="post" onsubmit="Forgotpasswordentersendcode(event)">
                <div class="field">
                    <input type="text" name="Email" id="Email" placeholder="Enter Your Account Email" required>
                </div>
                <div class="field btn">
                    <div class="btn-layer"></div>
                    <input type="submit" value="Enter">
                </div>
                </form>
        </div>
    </div>
</div>
