@{
    ViewData["Title"] = "Admin Login";
}

<link href="~/login/login.css" rel="stylesheet" />
<link href="~/login/verifys.css" rel="stylesheet" />
<link href="~/css/Admin_Login.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css">

<div id="AdminLoginPage">
    <div class="form-container">
        <div class="form-inner">
            <div class="title-text">
                <div class="title">
                    Admin Login
                </div>
            </div>
            <form id="adminLoginForm" action="#" onsubmit="AdminLogin(event)" method="post">
                <div class="field">
                    <input type="email" name="Email" id="Email" placeholder="Enter Email" required>
                </div>
                <div class="field">
                    <input type="password" name="Password" id="Password" placeholder="Enter Password" required>
                </div>
                <div class="field btn">
                    <div class="btn-layer"></div>
                    <input type="submit" value="Login">
                </div>
            </form>
        </div>
    </div>
</div>


