<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>Google Map Shield</title>


    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/footer_css.css" rel="stylesheet" />
    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;700;900&display=swap" rel="stylesheet">

    <link href="~/template_css/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/template_css/css/bootstrap-icons.css" rel="stylesheet">

    <link rel="stylesheet" href="~/template_css/css/slickss.css" />

    <link href="~/template_css/css/tooplate-little-fashionss.css" rel="stylesheet" />


    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>
<body>
    @* <section class="preloader">
        <div class="spinner">
            <span class="sk-inner-circle"></span>
        </div>
    </section> *@
    <header>
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <!-- Toggle button -->
            <button class="navbar-toggler" type="button" onclick="toggleNavbar()">
                <span class="navbar-toggler-icon" id="navbar-icon"></span>
            </button>

            <a class="navbar-brand" onclick="HomeRedirect(event)">
                <strong><span>Google</span> MapShield</strong>
            </a>

            <!-- Mobile header -->
            <div class="d-lg-none">
                <div class="header-mobile">
                    @await Html.PartialAsync("_HeaderPartailViewmobile")
                </div>
            </div>
                
            <!-- Collapsible Navbar Menu -->
            <div class="collapse navbar-collapse" id="navbarNav">
                    <div class="header-UI">
                    @await Html.PartialAsync("_HomeAttributesPartailView")
                    </div>
                <!-- Desktop header -->
                <div class="d-none d-lg-block">
                    <div class="header-pc">
                        @await Html.PartialAsync("_HeaderPartailViewpc")
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>


    <div class="wrapper">
    @RenderBody()
    </div>

    <footer class="footer">
        <div class="container text-center">
            <div class="social-icons">
                <a href="https://www.facebook.com" target="_blank">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="https://www.instagram.com" target="_blank">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="https://www.linkedin.com" target="_blank">
                    <i class="fab fa-linkedin-in"></i>
                </a>
            </div>
            <p>&copy; 2024 Google Map Shield</p>
        </div>
    </footer>


    <!-- JAVASCRIPT FILES -->

    <script src="~/template_css/js/jquery.min.js"></script>
    <script src="~/template_css/js/bootstrap.bundle.min.js"></script>
    <script src="~/template_css/js/Headroom.js"></script>
    <script src="~/template_css/js/jQuery.headroom.js"></script>
    <script src="~/template_css/js/slick.min.js"></script>
    <script src="~/template_css/js/custom.js"></script>


    <!--My Scripts-->
    <script src="~/layout/adminlast.js"></script>
    <script src="~/layout/homelast.js"></script>
    <script src="~/layout/loginlast.js"></script>
    <script src="~/layout/details.js"></script>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

    <!-- Geocoding API -->
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>

    
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
